<p-toast     [showTransitionOptions]="'100ms'"  ></p-toast>
<div class="card flex justify-content-center sm:mb-2">
    <app-navbar class="mr-2"></app-navbar> 
    <p-selectButton  [options]="datasSelect" class="mr-3" [(ngModel)]="datas" optionLabel="nome" ></p-selectButton> 
   <div >
    <button pButton class="p-button-success" (click)="atualizar()" label="Atualizar" ></button>
</div>
</div>
<p-progressSpinner style="margin: 45%" *ngIf="carregando"  ariaLabel="loading"></p-progressSpinner>
<p-chart height="650%" *ngIf="!carregando" type="bar" [data]="basicData" [options]="basicOptions" ></p-chart>

